@import "normalize";

/* =============================================================================
   GLOBAL VARIABLES
   ========================================================================== */
$black: #333333;
$primary: #861225;

/* Fonts */
$primary-font: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Font Weights (for Source Sans Pro) */
$extralight-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;
$black-weight: 900;

/* Media Queries */
$media-tablet: "(max-width: 767px)"; // Landscape phones and portrait tablets
$media-phone: "(max-width: 480px)"; // Portrait phones and smaller
$media-phone-xs: "(max-width: 320px)"; // Much smaller phones

/* =============================================================================
   FOUNDATION
   ========================================================================== */
body {
    font-family: $primary-font;
    color: $black;
}

* {
    box-sizing: border-box;
}

/* =============================================================================
   SECTION FORMATTING
   ========================================================================== */
.section-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;

    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 44px;
        letter-spacing: 1px;
        font-weight: $bold-weight;
        color: $primary;
    }

    p {
        font-size: 20px;
        line-height: 1.4em;
        font-weight: $light-weight;
    }
}

section:nth-child(even) {
    background-color: $primary;
    color: white;
    h1 {
        color: white;
    }
}

/* =============================================================================
   INTRO
   ========================================================================== */
#intro {
    background-image: url("../assets/backgrounds/intro.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    height: 100vh;
    position: relative;
    padding: 0 20px;

    // navbar
    #navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding: 20px 40px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        a {
            margin: 0 25px;
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-weight: $light-weight;

            &.active, &:hover, &:active {
                opacity: 0.8
            }
        }

        a.logo img {
            height: 100px;
        }

        @media #{$media-tablet} {
            justify-content: center;
            .links-right {
                display: none;
            }
        }
    }

    h1 {
        font-size: 75px;
        text-align: center;
        margin-top: 10vh;
        color: white;
        font-weight: $regular-weight;
        line-height: 1em;
        margin-bottom: 10px;
    }

    p {
        font-size: 28px;
        text-align: center;
        font-weight: $extralight-weight;
        color: white;
        margin: 0;
    }

    a.scroll-down {
        position: absolute;
        left: 50%;
        bottom: 10vh;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        color: white;
        border: 2px solid white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 25px;
        background-color: transparent;
        text-align: center;

        i {
            vertical-align: middle;
        }

        &.active, &:hover, &:active {
            background-color: rgba(white, 0.2);
        }
    }

    @media #{$media-phone} {
        background-position: 80% top;
        h1 {
            margin-top: 5vh;
        }
    }

    @media #{$media-phone-xs} {
        h1 {
            margin-top: 3vh;
            font-size: 60px;
        }

        p {
            font-size: 22px;
        }
    }
}

/* =============================================================================
   MISSION
   ========================================================================== */


/* =============================================================================
   WHAT WE DO
   ========================================================================== */

#about {
    .about-detail {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 30px 0;

        img {
            $img-width: 240px;

            width: $img-width;
            height: $img-width * 2 / 3;
        }

        $img-margin: 40px;
        &:nth-child(even) {
            img {
                margin-right: $img-margin;
            }
        }

        &:nth-child(odd) {
            img {
                -webkit-box-ordinal-group: 2;
                    -ms-flex-order: 1;
                        order: 1;
                margin-left: $img-margin;
            }
        }

        p {
            font-size: 24px;
            font-weight: $regular-weight;
        }

        @media #{$media-phone} {
            flex-direction: column;

            img {
                margin-left: 0 !important;
                margin-right: 0 !important;
                order: 0 !important;
            }
        }
    }
}

/* =============================================================================
   WORKSHOPS
   ========================================================================== */

#workshops {
    .speaker {
        margin-bottom: 20px;

        $person-size: 120px;
        $person-margin: 20px;
        img {
            width: $person-size;
            margin-right: $person-margin;
            border-radius: 50%;
            vertical-align: middle;
        }

        .speaker-info {
            width: calc(100% - #{$person-size + $person-margin + 5});
            display: inline-block;
            vertical-align: middle;

            h2 {
                margin-bottom: 5px;
                font-weight: $semibold-weight;
            }
            p {
                margin-top: 5px;
                font-weight: $extralight-weight;
            }
        }
        @media #{$media-phone} {

            img {
                display: block;
                margin: 0 auto;
            }

            .speaker-info {
                width: 100%;
                h2 {
                    text-align: center;
                }
            }
        }
    }
    .extra-speakers {
        margin: 3px 0;
        font-weight: $extralight-weight;

        strong {
            font-weight: $semibold-weight;
        }
    }
}

/* =============================================================================
   WINNERS
   ========================================================================== */

#winners {
    .winner {
        text-align: center;
        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 0;
        }

        img {
            height: 100px;
        }

        h2 {
            font-size: 32px;

            &.greenline {
                color: #16a085;
            }
        }

        p {
            text-align: left;
        }
    }
}

/* =============================================================================
   IN THE NEWS
   ========================================================================== */

#news {
    a {
        color: white;
        text-decoration: none;
        display: block;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 50px;
        }

        .article {
            border: 2px solid white;
            border-radius: 10px;
            padding: 20px;
            

            p {
                margin: 0;

                &.title {
                    font-weight: $semibold-weight;
                    font-size: 1.5em;
                }

                &.data {
                    font-weight: $light-weight;
                    font-style: italic;
                }
            }

            &.active, &:hover, &:active {
                opacity: 0.8;
            }
        }
    }
}

/* =============================================================================
   CONTACT US
   ========================================================================== */

#contact {
    a {
        color: $primary;
        text-decoration: none;
        font-weight: $semibold-weight;
    }
}

/* =============================================================================
   FOOTER
   ========================================================================== */

footer {
    background-color: #575757;
    color: white;

    .section-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        p {
            font-size: 16px;
            a {
                font-weight: $semibold-weight;
                color: white;
            }
        }

        .social {
            margin-left: 30px;
            a {
                color: white;
                i {
                    font-size: 28px;
                }
            }
        }
    }
}